.button-group {
    display: flex;
    align-content: space-around;
    min-width: fit-content;
    width: auto;
}

.display {
    display: flex;
    align-items: center;
    align-self: center;
    width: fit-content;
    min-height: 102px;
    padding: 30px;
}

.action-buttons {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap-reverse;
    min-width: 800px;
}

.outer-container {
    display: flex;
    justify-content: center;
    padding-top: 350px;
}

.tomato-image {
    background-image: url('https://i.pinimg.com/originals/e1/a1/17/e1a117e9cacfb963fbb70a805f3e0109.jpg');
    background-size: cover;
    justify-content: center;
}
